/* Link , nav , text-aling ของส่วนรวม*/
body{
    text-align: center ;
}
nav{
    background-color: #76A4E0;
}
#head{
    padding: 0%;
    margin: 0%;
}
#navbar{
    justify-content: flex-end;
}
nav img{
    width: 250px;
    height: 90px;
    margin-left: 80px;
}

.navbar-nav a{
    color: white;
    font-size: large;
    background-color: #76A4E0;
}

.navbar-expand-md .navbar-nav .nav-link {
     padding-right: 0px; 
     padding-left: 0px;
}
.navbar-nav a:hover{
    background-color: #A6C3EB ;
    color: white;
    font-size: large;
}
.navbar-nav a.active{
    background-color: whitesmoke;
    color: white;
    font-size: large;
}
.menudrop{
    color: white;
}
